@using BrewMVC.ViewModel
@using BrewMVC.ViewModel.Auth
@model LoginUserVM
@{
    ViewData["Title"] = "Login";
}

<main>
    <section class="d-flex justify-content-center align-items-center" style="margin-top: 6rem;">
        <div class="card p-4 shadow w-50">
            <form asp-action="Login" method="post" novalidate>
                    <h2 class="card-title text-center mb-3 custom-heading">Login</h2>

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label fw-bold"></label>
                        <input asp-for="Email" class="form-control @(ViewData.ModelState["Email"]?.Errors.Count > 0 ? "is-invalid" : "")" />
                        <span asp-validation-for="Email" class="invalid-feedback"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label fw-bold"></label>
                        <input asp-for="Password" type="password" class="form-control @(ViewData.ModelState["Password"]?.Errors.Count > 0 ? "is-invalid" : "")" />
                        <span asp-validation-for="Password" class="invalid-feedback"></span>
                    </div>

                    <button type="submit" class="btn btn-primary w-50 d-block mx-auto">Login</button>
            </form>
        </div>
    </section>
</main>