@model List<BrewMVC.ViewModels.PopularMenuItemVM>
@{
    ViewData["Title"] = "Home";
}

<main class="container">
    <h1 class="custom-heading mb-4 mt-4">
        Our Most Loved Dishes
    </h1>

    @await Html.PartialAsync("_PopularMenuCarousel", Model)

    <div class="mt-2 text-center">
        <a asp-controller="MenuItem" asp-action="Index" class="btn">
           Full Menu
        </a>
    </div>
</main>

