@using BrewMVC.ViewModel.MenuItems
@model List<PopularMenuItemVM>
@{
    ViewData["Title"] = "Home";
}

<main class="container">
    <header class="mb-4 mt-4">
        <h1 class="custom-heading">
            Our Most Loved Dishes
        </h1>
    </header>

    <section aria-labelledby="popular-dishes-heading">
        @* Using PartialAsync to render the popular menu carousel. Easier to work with collections *@
        @await Html.PartialAsync("_PopularMenuCarousel", Model)
    </section>

    <!-- Navigation to full menu -->
    <div class="mt-2 text-center" aria-label="Menu navigation">
        <a asp-controller="MenuItem" asp-action="Index" class="btn" role="button">
            Full Menu
        </a>
    </div>
</main>