@{
    ViewData["Title"] = "Booking";
}

<main class="container">
    <header class="mb-4 mt-5">
        <h1 class="custom-heading">
            Booking site coming Soon!
        </h1>
    </header>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <article class="text-center">
                <header>
                    <h2 class="custom-h2 mt-4">Booking System Under Development</h2>
                </header>
                <section>
                    <p class="custom-p">We're working hard to bring you a online booking system. Stay tune for a awsome booking experience!</p>
                </section>
            </article>
        </div>
    </div>
</main>