@model List<BrewMVC.ViewModels.PopularMenuItemVM>
@{
    ViewData["Title"] = "Booking";
}

<main class="container">
    <h1 class="custom-heading mb-4 mt-4">
        Booking Page - Coming Soon!
    </h1>
</main>